@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mainBackground {
  background-image: url("../public/glass.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: radial-gradient(circle, rgba(0,34,238,1) 0%, rgba(20,21,24,0.9794468812915791) 52%, rgba(7,9,48,0.926225592776173) 100%); */
  min-height: 100vh;
  height: fit-content;
}
